services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - {{ app_dir }}/nginx/conf:/etc/nginx/conf.d
      - {{ app_dir }}/nginx/ssl:/etc/nginx/ssl
      - {{ app_dir }}/nginx/logs:/var/log/nginx
    networks:
      - {{ docker_network }}
    depends_on:
      - api
      - frontend

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    image: '{{ app_name }}-fastapi'
    restart: unless-stopped
    expose:
      - '{{ api_port }}'
    env_file:
      - .env
    networks:
      - {{ docker_network }}

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    image: '{{ app_name }}-next'
    restart: unless-stopped
    expose:
      - '{{ frontend_port }}'
    env_file:
      - .env
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    driver: bridge